PORT=3001
MONGODB_URI=mongodb://localhost:27017/deOlhoNaNota
QWEN_API_URL=https://openrouter.ai/api/v1/chat/completions
QWEN_API_KEY=sua_chave_api_openrouter
QWEN_MODEL=qwen/qwen-2.5-72b-instruct:free
CATEGORIZADOR_API_URL=http://localhost:8000
